#transactions {
    width: auto;
    height: auto;
    border-style: solid;
    overflow: hidden;
    /*padding: 10px;*/
}

#transactions > .card {
    float: left;
    /*margin: 10px;*/
    width: calc(100% / 4);
    display: inline;
}

/*.card {*/
    /*float: left;*/
    /*display: inline;*/
    /*margin: 10px;*/
    /*width: 23%;*/
/*}*/